* {
  margin: auto;
  padding: 0;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}

.featureWrap {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100vw;
  height: 100%;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

input,
button {
  height: 2rem;
  padding: 13px 16px;
}

.contact {
  color: grey;
  text-decoration: none;
}
.contact:hover {
  color: white;
}

.navbar {
  display: flex;
  position: absolute;
}
li {
  display: inline;
  margin: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  margin: 1rem;
}

li a:hover {
  color: white;
}

.featureImg {
  text-align: center;
}

li a:active {
  color: white;
}

.footer {
  height: 100%;
  margin-top: 10%;
}

.teamScope {
  height: 10vh;
}

@media (min-width: 100px) {
  input,
  button {
    height: auto;
    padding: auto;
  }
  .featureWrap {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
  }
  .video {
    height: auto;
    width: 50vw;
  }
}

@media (min-width: 300px) {
  input,
  button {
    height: auto;
    padding: auto;
  }
  .featureWrap {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
  }
  .video {
    height: auto;
    width: 50vw;
  }
}
@media (min-width: 576px) {
  input,
  button {
    height: auto;
    padding: auto;
  }
  .featureWrap {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
  }
  .video {
    height: auto;
    width: 50vw;
  }
}

@media (min-width: 768px) {
  input,
  button {
    height: auto;
    padding: auto;
  }
  .featureWrap {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
  }
  .video {
    height: auto;
    width: 50vw;
  }
}

@media (min-width: 992px) {
  input,
  button {
    height: auto;
    padding: auto;
  }
  .featureWrap {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
  }
  .video {
    height: auto;
    width: 50vw;
  }
}

@media (min-width: 1200px) {
  input,
  button {
    height: auto;
    padding: auto;
  }
  .featureWrap {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
  }
  .video {
    height: auto;
    width: 50vw;
  }
}

@media (min-width: 1400px) {
  input,
  button {
    height: auto;
    padding: auto;
  }
  .featureWrap {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
  }
  .video {
    height: auto;
    width: 50vw;
  }
}
